/*Universal styles*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h2 {
  font-size: 1.7rem;
  color: #399bd1;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

img {
  width: 100%;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: transform .5s,
              opacity .5s;
}

.image-container img:hover {
  opacity: 1;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/* Bootstrap Overrides */

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

.btn-primary {
  width: 160px;
  padding: 1.3rem 0;
  border: 0;
  margin-top: 2.8rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: .5s box-shadow;
}

.btn-primary:hover {
  background-color: #399bd1;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/*Navigation*/

nav ul {
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

li .active {
  color: #399bd1;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>
.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {

  color: #399bd1;
  background-color: none;
}



/*Jumbotron*/
.jumbotron {
  height: 44rem;
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.background-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.background-beer {
  background-image: url("../images/jumbotron-beer.jpg");
}

.background-flowers {
  background-image: url("../images/jumbotron-flowers.jpg");
}

.background-duffel {
  background-image: url("../images/jumbotron-duffel.jpg");
}

.jumbotron h1 {
  font-family: "Monoton", sans-serif;
  font-size: 7.1rem;
}

.jumbotron p {
  max-width: 51.3rem;
  margin: auto;
}

.relative-wrapper {
  position: relative;
  top: -16rem;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }
}

@media only screen and (max-width: 550px) {
  .jumbotron h1 {
    font-size: 4rem;
  }
}

/*Featured Project*/


.featured-project .image-container {
  margin-top: 1.4rem;
}

.categories h3 {
  color: #399bd1;
  font-weight: bold;
  font-size: 1.3rem;
}

.categories ul {
  color: rgba(0, 0, 0, 0.7);
}

/*Projcts*/

.container .projects {
  margin-top: 1.4rem;
}

.projects {
  margin-bottom: 5.85rem;
}

/*Help-section*/

.help {
  padding: 5.2rem 0;
  background-color: #f3f3f3;
  text-align: center;
}

.help strong {
  display: inline-block;
  margin-bottom: 1.4rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.help p {
  max-width: 42rem;
  margin: auto;
}

/*media queries*/

@media only screen and (max-width: 550px) {

.jumbotron h1 {
  font-size: 5.7rem;
}

}
